name: Build and Release latest Tag

on:
  push:
    branches:
      - "master"

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build-release:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.9'
          cache: 'pip'
      - run: pip install -r requirements.txt
      - run: pip install -U nuitka
      - run: python -m nuitka --onefile --assume-yes-for-downloads -o check_hetzner_storagebox-amd64-libpython-included check_hetzner_storagebox.py
      - run: python -m nuitka --assume-yes-for-downloads -o check_hetzner_storagebox-amd64 check_hetzner_storagebox.py
      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: true
          title: "Latest Binary Build"
          files: |
            check_hetzner_storagebox-amd64-libpython-included
            check_hetzner_storagebox-amd64

